{% load static %}
<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
    <!-- Start Shop Grid Left Side Bar -->
    <div class="shop__grid__left__sidebar">
        <!-- Start Category Area -->
        <div class="category mb--50">
            <h2 class="title__2">Ciudades</h2>
            <ul class="category__list">
                <li><a href="http://127.0.0.1:8000/jobs/search-jobs-by-location/Cali">Cali</a></li>
                <li><a href="http://127.0.0.1:8000/jobs/search-jobs-by-location/Bogotá">Bogotá</a></li>
                <li><a href="http://127.0.0.1:8000/jobs/search-jobs-by-location/Barranquilla">Barranquilla</a></li>
                <li><a href="http://127.0.0.1:8000/jobs/search-jobs-by-location/Medellín">Medellin</a></li>
            </ul>
        </div>
<!--        &lt;!&ndash; End Category Area &ndash;&gt;-->
<!--        &lt;!&ndash; Start Range &ndash;&gt;-->
<!--        <div class="htc-grid-range prizing__wrap mb&#45;&#45;50">-->
<!--            <h2 class="title__2">Tarifa</h2>-->
<!--            <div class="content-shopby">-->
<!--                <div class="price_filter s-filter clear">-->
<!--                    <form method="GET">-->
<!--                        {%  csrf_token %}-->
<!--                        <div class="price&#45;&#45;output"><span>Valor </span><input type="text" id="amount" readonly></div>-->
<!--                        <div id="slider-range"></div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Range &ndash;&gt;-->
<!--        &lt;!&ndash; Start Recent Items &ndash;&gt;-->
<!--        <div class="recent__items__area">-->
<!--            <h2 class="title__2">Ofertas Recientes</h2>-->
<!--            <div class="recent__items__inner">-->
<!--                &lt;!&ndash; Start Single REcent &ndash;&gt;-->
<!--                <div class="recent">-->
<!--                    <div class="items__thumb">-->
<!--                        <img src="images/shop/related-pro/1.jpg" alt="recent items">-->
<!--                    </div>-->
<!--                    <div class="items__details">-->
<!--                        <h2><a href="product-details.html">Product Name</a></h2>-->
<!--                        <ul class="rating">-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star-half"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star-half"></i></li>-->
<!--                        </ul>-->
<!--                        <p class="new__prize text-theme">$ 50.00</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Single REcent &ndash;&gt;-->
<!--                &lt;!&ndash; Start Single REcent &ndash;&gt;-->
<!--                <div class="recent">-->
<!--                    <div class="items__thumb">-->
<!--                        <img src="images/shop/related-pro/2.jpg" alt="recent items">-->
<!--                    </div>-->
<!--                    <div class="items__details">-->
<!--                        <h2><a href="product-details.html">Product Name</a></h2>-->
<!--                        <ul class="rating">-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star-half"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star-half"></i></li>-->
<!--                        </ul>-->
<!--                        <p class="new__prize text-theme">$ 50.00</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Single REcent &ndash;&gt;-->
<!--                &lt;!&ndash; Start Single REcent &ndash;&gt;-->
<!--                <div class="recent">-->
<!--                    <div class="items__thumb">-->
<!--                        <img src="images/shop/related-pro/3.jpg" alt="recent items">-->
<!--                    </div>-->
<!--                    <div class="items__details">-->
<!--                        <h2><a href="product-details.html">Product Name</a></h2>-->
<!--                        <ul class="rating">-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star-half"></i></li>-->
<!--                            <li><i class="zmdi zmdi-star-half"></i></li>-->
<!--                        </ul>-->
<!--                        <p class="new__prize text-theme">$ 50.00</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Single REcent &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Recent Items &ndash;&gt;-->
    </div>
    <!-- End Shop Grid Left Side Bar -->
</div>