{% extends 'home/includes/base.html' %}
{% load static %}

{% block title %}Cuidala | Inicio{% endblock title %}

{% block content %}

    {% include 'home/includes/header.html' %}

    <!-- Start Slider Area -->
        <div class="slider__container slider__full--width">
            <div class="slider__activation__wrap slider-activetion-wrap control__style--left owl-carousel owl-theme">
                <!-- Start Single Slide -->
                <div class="slide slider__bg--1" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                <div class="slider__inner">
                                    <h1>Bienvenido <br> a <span>Cuida.la</span></h1>
                                    <p>Estamos innovando para ofrecer una mejor atención domiciliaria al alcance de todos. Servicios de atención domiciliaria asequibles y de alta calidad para mejorar la calidad de vida y la tranquilidad.</p>
                                    <div class="slider__btn">
                                        <a class="bst__btn" href="service.html">Quiero contratar a un cuidador</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__bg--2 text__align--right" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                <div class="slider__inner">
                                    <h1>Bienvenido <br> a nuestra  <span>familia</span></h1>
                                    <p>Únase a nuestra red cuidadores profesionales y no profesionales que en este momento  disfrutan de un trabajo gratificante, un horario flexible y una mejor paga.</p>
                                    <div class="slider__btn">
                                        <a class="bst__btn" href="service.html">Quiero registrarme como Cuidador</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__bg--3 text__align--center" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                <div class="slider__inner">
                                    <h1>Quiero <br> contratar sus <span>Servicios</span></h1>
                                    <p>Si usted es una EPS o empresa y quiere mejorar la salud de sus afiliados o colaboradores, bajar costos y mejorar la satisfacción de sus usuarios, tenemos el plan pefecto para usted. Contáctenos</p>
                                    <div class="slider__btn">
                                        <a class="bst__btn" href="service.html">Asóciese con nosotros</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
        </div>
        <!-- End Slider Area -->
        <!-- Start Our Service Area -->
        <section class="our__service pb--100 pt--90 bg-white">
            <div class="container">
                <div class="row htc__service">
                    <!-- Start Single Service -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <div class="service bg-white text-center">
                            <div class="service__inner">
                                <div class="service__icon">
                                    <img src="{% static 'images/service/shape/1.png' %}" alt="icon images">
                                </div>
                                <h2><a href="#">Acompañamiento 24/7</a></h2>
                                <p>Nuestros pacientes son libres de escoger la tarifa justa que más les convenga, contratar y pagar por los servicios por su cuenta   </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Service -->
                    <!-- Start Single Service -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <div class="service bg-white text-center">
                            <div class="service__inner">
                                <div class="service__icon">
                                    <img src="{% static 'images/service/shape/2.png' %}" alt="icon images">
                                </div>
                                <h2><a href="#">Autonomía de elección</a></h2>
                                <p>Convenga con los mejores cuidadores de acuerdo a la tarifa y tipo de servicios. Podrás ver siempre su hoja de vida, experiencia y calificación para contratar </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Service -->
                    <!-- Start Single Service -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <div class="service bg-white text-center">
                            <div class="service__inner">
                                <div class="service__icon">
                                    <img src="{% static 'images/service/shape/3.png' %}" alt="icon images">
                                </div>
                                <h2><a href="#">Multiples servicios ofertados</a></h2>
                                <p>Nuestros cuidadores ofrecen una amplia gama de servicios: Movilidad, Comidas, Limpieza interna, Aseo, Ejercicio, Recordatorios medicamentos,  Compañía</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Service -->
                    <!-- Start Single Service -->
                    <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                        <div class="service bg-white text-center">
                            <div class="service__inner">
                                <div class="service__icon">
                                    <img src="{% static 'images/service/shape/4.png' %}" alt="icon images">
                                </div>
                                <h2><a href="#">Planee con Facilidad</a></h2>
                                <p>Coordine las tareas diarias y los recordatorios con su cuidador utilizando detallando en la oferta de trabajo el alcance del servicio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>
        </section>
        <!-- End Our Service Area -->
        <!-- Start Best Care Area -->

        <!-- End Best Care Area -->
        <!-- Start Our Feature Area -->
        <section class="our__top__service bg--white pb--100">
            <div class="container">
                <!-- Start Section Title -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">Pensamos en la tu seguridad</h2>
                            <p>Siempre tenemos presente la seguridad, tanto en la verificación de antecedentes de los cuidadores, como la verificación de sus conocimientos en temas de Seguridad y Cuidado del paciente</p>
                        </div>
                    </div>
                </div>
                <!-- End Section Title -->
            </div>
            <div class="container">
                <!-- End Section Title -->
                <div class="row">
                    <div class="top__service__wrap clearfix mt--50 xs__mt--20">
                        <!-- Start Single Feature -->
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-6">
                            <!-- Start Single feature -->
                            <div class="top__service__inner text-center">
                                <div class="top__service__icon">
                                    <img src="{% static 'images/feature/shape/1.png' %}" alt="feature icon">
                                </div>
                                <div class="top__service__details">
                                    <h4><a href="service.html">Cuidadores Verificados</a></h4>
                                    <p>Contamos con verificaciones automáticas de antededentes judiciales, estudios y experiencia de los cuidadores</p>
                                </div>
                            </div>
                            <!-- End Single feature -->
                        </div>
                        <!-- End Single Feature -->
                        <!-- Start Single Feature -->
                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-6">
                            <!-- Start Single feature -->
                            <div class="top__service__inner text-center">
                                <div class="top__service__icon">
                                    <img src="{% static 'images/feature/shape/2.png' %}" alt="feature icon">
                                </div>
                                <div class="top__service__details">
                                    <h4><a href="service.html">Tu elijes a tu Cuidador</a></h4>
                                    <p>Puedes seleccionar la mejor oferta con base a la calificación del cuidador y su historial de contratos y reseña de pacientes anteriormente a su cargo</p>
                                </div>
                            </div>
                            <!-- End Single feature -->
                        </div>
                        <!-- End Single Feature -->
                        <!-- Start Single Feature -->
                        <div class="col-md-4 col-lg-4 col-xs-12 hidden-sm">
                            <!-- Start Single feature -->
                            <div class="top__service__inner text-center">
                                <div class="top__service__icon">
                                    <img src="{% static 'images/feature/shape/3.png' %}" alt="feature icon">
                                </div>
                                <div class="top__service__details">
                                    <h4><a href="service.html">Sugerencia de Contrato</a></h4>
                                    <p>Cuando contratas a un cuidador, te hacemos llegar un documento que detalla el alcance del servicio y las condiciones pactadas.</p>
                                </div>
                            </div>
                            <!-- End Single feature -->
                        </div>
                        <!-- End Single Feature -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Feature Area -->
        <!-- Start Testimonial Area -->

        <!-- End Testimonial Area -->
        <!-- Start Blog Area -->

        <!-- End Blog Area -->
        <!-- Start Brand Area -->

        <!-- End Brand Area -->

{% endblock content %}