{% extends 'caregivers/includes/base.html' %}
{% load static %}
{% block title %}Cuidala | Job Search{% endblock title %}
{% block content %}

    <!-- Start our Shop Grid Area -->
    <section class="shop__grid__area pt--100 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                <!-- Start Left Menu -->
                {% include 'caregivers/jobs/includes/left_menu.html' %}
                <!-- End Left Menu -->
                </div>
                <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row mb--10">
                        <!-- Start Tab Menu -->
                        <div class="col-md-12">
                            <div class="product__view__list">
                                <!-- Start Tab -->
                                <div class="view-mode-wrap">
                                    <ul class="view-mode" role="tablist">
                                        <li role="presentation" class="list-view active"><a href="#list-view" role="tab" data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
                                    </ul>
                                </div>
                                <!-- Start Tab -->
                                <!-- Start Category Menu -->
                                <div class="category-select">
                                    <p>Ordenar Por:</p>
                                    <select class="cat-slc">
                                        <option>Tarifa</option>
                                        <option>Ciudad</option>
                                    </select>
                                </div>
                                <!-- End Category Menu -->
                            </div>
                        </div>
                        <!-- End Tab Menu -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-view-wrap">
                                <!-- Start List view -->
                                <div role="tabpanel" class="single-grid-view clearfix tab-pane fade in active" id="list-view">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                    <div class="list__view__wrap">
                                                        {% for post in object_list %}
                                                          <!-- Start Single List -->
                                                            <div class="list__view__inner">
                                                                <div class="product__thumb__inner">
                                                                    <div class="product__thumb">
                                                                        {% if post.get_recipient_care_display == 'Abuela' %}
                                                                            <a href="#"><img src="{% static 'images/patient/granma.jpg' %}" alt="product images"></a>
                                                                        {% elif post.get_recipient_care_display == 'Abuelo' %}
                                                                            <a href="#"><img src="{% static 'images/patient/grandpa.jpg' %}" alt="product images"></a>
                                                                        {% elif post.get_recipient_care_display == 'Padre' %}
                                                                            <a href="#"><img src="{% static 'images/patient/dad.jpg' %}" alt="product images"></a>
                                                                        {% elif post.get_recipient_care_display == 'Madre' %}
                                                                        <a href="#"><img src="{% static 'images/patient/mom.jpg' %}" alt="product images"></a>
                                                                        {% elif post.get_patient_gender_display == 'Masculino' %}
                                                                        <a href="#"><img src="{% static 'images/patient/man_silhouette.jpg' %}" alt="product images"></a>
                                                                        {% elif post.get_patient_gender_display == 'Femenino' %}
                                                                        <a href="#"><img src="{% static 'images/patient/woman_silhouette.jpg' %}" alt="product images"></a>

                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="list__view__details">
                                                                    <h2><a href="product-details.html">{{ post.description }} </a></h2>
                                                                    <div class="pro__price__rat">
                                                                        <p class="pro__price">Tarifa Hora: ${{ post.salary_min}}</p>
{#                                                                        <ul class="rating">#}
{#                                                                            <li><i class="zmdi zmdi-star"></i></li>#}
{#                                                                            <li><i class="zmdi zmdi-star"></i></li>#}
{#                                                                            <li><i class="zmdi zmdi-star"></i></li>#}
{#                                                                            <li><i class="zmdi zmdi-star-half"></i></li>#}
{#                                                                            <li><i class="zmdi zmdi-star-half"></i></li>#}
{#                                                                        </ul>#}
                                                                    </div>
                                                                    <p class="list__details"><strong>Ciudad:</strong>&nbsp; &nbsp; &nbsp; {{ post.location_id }}</p>
                                                                    <p class="pro__price"><strong>Edad:</strong> &nbsp;{{ post.patient_age }} años &nbsp;<strong>Sexo:</strong> &nbsp; {{ post.get_patient_gender_display }}</p>
                                                                    <p class="list__details"><strong>Duración del contrato:</strong> &nbsp; {{ post.start_date }} - {{ post.end_date }}</p>
                                                                    <p><strong> Necesidades del Paciente:</strong></p>
                                                                    {% for skill in post.care_category.all %}
                                                                        <span class="badge badge-success">{{ skill }}</span>
                                                                    {% endfor %}
                                                                    <p><strong> Funciones del Cuidador:</strong></p>
                                                                    {% for service in post.service_category.all %}
                                                                        <span class="badge badge-success">{{ service }}</span>
                                                                    {% endfor %}
                                                                    <div class="list__addtocat">
                                                                        <ul class="cat__link">
                                                                            <button type="button" class="btn btn-success">Aplica Ya!</button>
                                                                            </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single List -->
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <!-- End List view -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End our Shop Grid Area -->
{% endblock content %}